[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "spaceship-promt"]
	path = spaceship-promt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
